@charset "utf-8";

form {
  display: inline;
 }

.clear {
  clear: both;
 }

#shop-main {
  margin: 0px;
 }

.shop-content {
 /* float: left; */
  position: static;
  display: block;
 /* margin-right: 200px; */
 }

#shopframe {
  
 }

.shop-content#orderform {
  max-width: 580px;
  margin: 10px auto;
  float: none;
 }

.orderdata {
  text-align: right;
  margin-right: 120px;
 }

.orderline {
  display: inline;
 }

.orderbuttons {
  display: inline;
 }

.shop-lang {
  float: left;
  position: relative;
 }

#sidebar {
  position: fixed;
  right: -5px;
  z-index: 1001;
  width: 270px;
 }

#sidebar.fixed {
  position: fixed;
  top: 40px;
 }

b.karthead {
  font-size: 1.49em;
  text-align: center;
  margin: 0px auto;
 }

a#show-hide {
  text-align: center;
  margin: 0px auto;
 }

#kart_frame {
  width: 220px;
 }

.karthide {
  display: block;
  clear: both;
  margin-top: 0px;
 }

.kart {
  min-width: 20px;
 }

.kart#kart {
  color: #000000;
  background-color: #999966;
  border: none;
  border-radius: 8px;
  padding: 10px;
  padding-top: 5px;
  font-size: 0.89em;
 }

.kart#kasse {
  color: #CC9933;
  background-color: #999966;
  border-radius: 8px;
  padding: 10px;
  padding-top: 5px;
  font-size: 0.8em;
 }

.kartitem {
  margin: 0px;
  padding: 0px;
 }

.firstkartitem {
  left: 0px;
  text-align: left;
  display: inline;
 }

.secondkartitem {
  right: 0px;
  text-align: right;
  display: inline;
  float: right;
 }

#final_buy {
  float: right;
 }

.item {
  padding: 20px 50px;
  clear: both;
 }

.item-header {
  
 }

.item-pic {
  float: left;
  margin-bottom: 50px;
 }

.item-pic img {
  width: 250px;
 }

.item-details {
  float: left;
  vertical-align: middle;
  min-height: 220px;
  padding-top: 0px;
 }

.centerme {
  margin: 0px;
  min-height: 220px;
  width: 350px;
  text-align: left;
  padding-left: 20px;
 }

.spacer-items {
  clear: both;
 }

.item-details li {
  list-style-type: none;
  font-size: 0.85em;
  vertical-align: middle;
 }

.button-buy {
  clear: both;
 }

.buy {
  color: #FFFFFF;
  background-color: #CC9933;
  font-size: 1.2em;
  text-align: right;
  position: absolute;
  margin: 30px 10px 0px 10%;
  padding: 4px 16px;
  border: none;
 /* -moz-border-radius: 6px;  Für Gecko (z.B. Firefox, SeaMonkey) */
  border-radius: 6px; /* Eigenschaft gemäß Standard */
  margin-bottom: 40px;
 }

.buy:hover {
  background-color: #999966;
  border: 1px solid #CC9933;
 }

