<div class="item shadow round" id="%id%" name="%id%">
  <div><h1 class="item-header">%name% (%descr%)</h1><h4>%Type% </h4><br>%details%</div>
  <div class="item-pic">
    <a href="shop/%pic%" class="fancy" rel="%id%"><img id="%id%" src="shop/%pic%" alt="%name%" title="%name%" border="0"></a>
  </div>
  <div class="item-details">
    <div class="centerme">
      %tracklist%
      <noscript>%noscript%</noscript>
      <form action="%target%" id="intokart%c%" method="get" target="_top" accept-charset="UTF-8">
        %_calls%
        <input type="hidden" name="job" value="additem">
        <input type="hidden" name="id" value="%id%">
        <input type="hidden" name="c" value="%c%">
      <div class="button-buy">
        <a href="javascript:"><div class="buy" data-id="%c%">%buy% : <b>%preis% €</b></div></a>
      </div>
      </form>
    </div>
  </div>
  <div class="clear"></div>
</div>
