<table bgcolor="%bgcolor%" align="center" width="%itemview_width%" border="0">
  <tr>
    <td align="center" colspan="2">
      <font size="5">%name%</font><font size="4">  %descr%</font><br>
      <hr style="color:#000000; background-color:#544a31; height:1px; margin-right:0; text-align:left;">
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" colspan="1">
      <br>
      <a href="%pic%" rel="%id%" class="fancy"><img height="%itemview_pic_height%" src="%pic%" alt="%name%" title="%name%" onmouseout="src='%pic%'" onmouseover="src='%pic%.png'" border="0"></a><br>
    </td>
    <td align="left" valign="top" colspan="1">
      %details%<br><br>
      <form action="kartline.php" method="get" target="kart" accept-charset="UTF-8">
        <input type="hidden" name="job" value="additem">
        <input type="hidden" name="id" value="%id%">
        <input type="hidden" name="c" value="%c%">
        <input type="hidden" name="lang" value="%lang%">
        <input type="hidden" name="kartid" value="%kartid%">
        <button type="submit" onclick="this.form.submit()"><img src="pics/more.png"><br> %buy% </button><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; %value%
      </form>
    </td>
  </tr>
</table>
